.card-wrapper + .card-wrapper{
	margin-top: 32px;
}

.main-content {
	max-width: 800px;
	margin: auto;
}

.title {
	text-align: center;
	font-size: 32px;
	margin: auto;
	margin-bottom: 24px;
	font-weight: bold;
}