<div class="navbar">
		<div class="header">
			<div class="flex-container">
				<div class="navbar-text" routerLink="/" (click)="toggleHidden()">
					EDGE <span class="guard">GUARD</span>
				</div>
				<div class="menu-icon"  (click)="toggleHidden()">
					<i class="material-icons">menu</i>
				</div>
			</div>
		</div>
		<div class="menu" *ngIf="!hidden">
				<div routerLink="/about" (click)="hidden=!hidden">About</div>
				<div routerLink="/episodes" (click)="hidden=!hidden">Episodes</div>
				<div routerLink="/contact" (click)="hidden=!hidden">Contact Us</div>
		</div>
</div>


