@import '../../styles.scss';

.navbar {
    background-color: $color-purple-dark;
	color: $color-white;
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 100;

	.header {
		margin: 0px;
		height: 70px;
		width: 100%;
		padding: 8px 12px;
		box-sizing: border-box;
		border-bottom: 1px solid $color-white;
	}

	.flex-container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

    .navbar-text {
		float: left;
		margin-left: 8px;
        font-family: 'Monoton';
        font-size: 32px;
        vertical-align: middle;
	}
	.guard {
		color: lighten($color-purple-light, 10%);
	}
	
	.menu-icon {
		margin-right: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.mobile-menu {
		padding: 8px 16px;
		font-size: 16px;
		div {
			padding: 2px;
			text-align: right;
		}
	}
	
	.desktop-links {
		display: none;
	}

	@media screen and (min-width: $width-breakpoint) {
		.mobile-menu, .menu-icon { 
			display: none;
		}

		.navbar-text {
			margin-left: 24px;
		}

		.desktop-links {
			display: block;
			.link {
				font-size: 16px;
				margin-right: 24px;
				cursor: pointer;
			}
		}
	}
}