@import '../../styles.scss';

.episode-card {
	background-color: $color-white;
	color: $color-purple-dark;
	box-shadow: 0 3px 5px 0 rgba($color-purple-dark, 0.2);
	border-radius: 4px;
	// border: solid 1px $color-purple-dark;
	padding: 16px;
	.a {
		font-size: 16px;
	}
}

.top-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	.number {
		font-size: 16px;
		color: $color-purple-light;
	}
	.title {
		font-size: 32px;
	}

	audio {
		min-width: 300px;
		margin-top: 8px;
	}
}

.description {
	font-size: 16px;
}

.show-more {
	line-height: 24px;
	vertical-align: middle;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-purple-light;
	text-align: center;

	.material-icons {
		vertical-align: bottom;
		margin-left: 4px;
	}
}


