h1 {
	font: {
		size: 32px;
		weight: bold;
	}
}

h2 {
	margin: 0;
	font: {
		size: 24px;
		weight: bold;
	}
}

.bio-graf {
	font-size: 24px;
	margin-bottom: 24px;
}

p {
	margin-top: 8px;
	font-size: 16px;
}