@import '../../styles.scss';

.bio-title {
	margin: 0;
	font: {
		size: 24px;
	}
}

.about-graf {
	font-size: 16px;
	max-width: 540px;
	flex: 1 1 280px;
	margin: auto;
}

.find-us {
	font-size: 16px;
}

.bio-title {
	color: $color-purple-light;
	margin-bottom: 4px;
}

.bio-flex {
	max-width: 530px;
	flex: 1 1 260px;
	margin: auto;
}

.bio-text {
	font-size: 16px;
}

img {
	margin: 0 auto 16px auto;
	height: 280px;
	width: 280px;
	border-radius: 5px;
}

.card-flex {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.a {
	font-size: 16px;
}

@media screen and (min-width: $width-breakpoint) {
	img {
		margin: 0 16px 0 0;
		height: 200px;
		width: 200px;
	}

	.bio-text {
		margin: 0px;
	}

	.find-us {
		font-size: 24px;
	}
	
	.about-graf {
		font-size: 18px;
	}
}