
<div class="header">
	<div class="text">	Welcome to Edge Guard, a podcast where we take a closer look at games on the fringe.</div>
</div>

<div class="main-content">
	<div *ngIf="!feedLoaded" class="loader">Loading...</div>

	<div class="episodes-title">
		Recent Episodes:
	</div>
	
	<div *ngIf="feedLoaded | async">
		<div class="card-wrapper" *ngFor="let item of latestEpisodes">
			<episode-card [episodeData]="item"></episode-card>
		</div>
	</div>
	
	<div class="episodes-link">
		<a routerLink="/episodes">More Episodes</a>
	</div>
</div>



